/*font-family: 'Cinzel', serif;
font-family: 'Cormorant', serif;*/

body {
	text-align: center;
	background-image: url("../images/hamilton-background.jpg");
	background-repeat: no-repeat;
    background-position: right top;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Cormorant', serif;
	color: white;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #ab7a1d
}

a:hover{
	text-decoration: none;
	color: #c9bd99;

}


#logopic {
	margin: 20px 0;
}

#bottompic {
	margin-bottom: -10px;
}

#bottompic2 {
	display: none;
	margin-bottom: -10px;
}


#intro-container {
	height: 200px;
	max-width: 800px;
	margin: 0 auto;
	background-color: black;
}

#intro1 {
	font-size: 1.75em;
	font-weight: 500;
	letter-spacing: 4px;
	padding-top: 5px;
}

#intro2, .comingsoon{
	font-size: 1em;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 3px;
	padding-top: 5px;
}

#intro3, .i, .ii, {
	font-size: 2em;
	font-weight: 600;
	letter-spacing: 4px;
	padding-top: 5px;
}

#intro4 {
	font-size: 1em;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 3px;
	padding-top: 5px;
}

#intro5 {
	font-size: 1.75em;
	font-weight: 600;
	letter-spacing: 7px;
	padding-top: 5px;
}

#intro6 {
	font-size: 1em;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 2px;
	padding-top: 10px;
}

#bottom {
	height: 100px;
	background-color: black;
	/*margin-bottom: -100px;*/
}


div.header {
	padding: 20px, 0;
}

.spacer {
	margin-top: 50px;
}

.i, .ii {
	margin: 0 auto;
	max-width: 800px;
	background-color: black;
	padding-bottom: 30px;
	color: #ab7a1d;
	font-size: 3em;
}

.i-container, .ii-container {
	margin: 20px;
	text-align: center;
	margin: 0 auto;
	height: 400px;
	max-width: 800px;
	background-color: black;
	display: none;
}

.i-left-list, .ii-left-list   {
	float: left;
	width: 50%;
	padding-top: 15px;
}


.i-right-list, .ii-right-list{
	padding-top: 15px;
}

li {
	padding: 5px;
	font-size: 1.2em;
}
.citation {
	vertical-align: super;
	color: #ab7a1d ;
	font-weight: 700;
}

.overlap {
	display: flex;
}

.character {
	font-weight: 600;
	letter-spacing: 2px;
}

.lyrics {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.7) ;
	max-width: 100%;
/*	margin: 0 auto;
*/	padding-left: 30px;
	font-weight: 300;
}

.annotations {
	max-width: 20%;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

.content {
	display: flex;
	text-align: left;
	justify-content: center;
}

.lyricspace {
	padding-top: 25px;
}

.songtitle {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 10px;
	padding-top: 5px;
	font-style: italic;
}

.note1, .note2, .note3, .note4, .note5, .note6, .note7, .note8, .note9 {
	display: none;
}

a:hover {
	font-size: 150%;
}

.lyriccitation1:hover {
	font-style: normal;
}

.lyriccitation:hover {
	font-style: italic;
}